/**
 * Typography variables.
 */

@font-face {
  font-family: 'Agora Sans';
  src: url('../fonts/agora_light/PFAgoraSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/agora_light/PFAgoraSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/agora_light/PFAgoraSansPro-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/agora_light/PFAgoraSansPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/agora_light/PFAgoraSansPro-Light.svg#7e557d9244d56f330b1fc0d0b76c48c9') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Agora Sans';
  src: url('../fonts/agora_normal/PFAgoraSansPro-Reg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/agora_normal/PFAgoraSansPro-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/agora_normal/PFAgoraSansPro-Reg.woff') format('woff'), /* Modern Browsers */
  url('../fonts/agora_normal/PFAgoraSansPro-Reg.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/agora_normal/PFAgoraSansPro-Reg.svg#7e557d9244d56f330b1fc0d0b76c48c9') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Agora Sans';
  src: url('../fonts/agora_medium/PFAgoraSansPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/agora_medium/PFAgoraSansPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/agora_medium/PFAgoraSansPro-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/agora_medium/PFAgoraSansPro-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/agora_medium/PFAgoraSansPro-Medium.svg#7e557d9244d56f330b1fc0d0b76c48c9') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

$primary-font: 'Agora Sans', sans-serif;
$secondary-font: 'Trebuchet', 'Times New Roman', serif;

$base-font-size: 16px;
$base-line-height: 24px;



