/**
 * Typography variables.
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,400italic,300italic,700italic&subset=latin,greek);
@import url(https://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic&subset=latin,greek);

$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Tinos', serif;

$base-font-size: 16px;
$base-line-height: 24px;



