/**
 * Breadcrumbs.
 */

#block-breadcrumbs {
  ol {
    @include horizontal-list;
    li:after {
      content: ">";
      padding-left: 0.3em;
      color: $gray-color-dark;
    }
    li:last-child a:after {
      content: none;
      padding-left: 0;
    }
  }
}
