/**
 * Site Branding.
 */

.site-branding {
  z-index: 100;
  margin: 1*$default-atom-space 0;
  a{
    display: block;
    line-height: 0;
    text-align: left;
  }
  img{
    margin: 0;
    //width: 100%;
    max-height: 6*$default-atom-space;
  }
  .site-branding__text {
    position: absolute;
    top: -10000000px;
  }
}
