/**
 * User Menu.
 */

.menu--account {
  .contextual{
    display: none;
  }
  ul.menu {
    li {
      padding: 0;
    }
    a {
      /* for Text links
      line-height: $default-atom-space*4;
      */
      text-indent: -10000px;
      display: block;
      position: relative;
      padding: 0;
      width: $default-atom-space*4;
      height: $default-atom-space*4;
      /*@include adjust-font-size-to(1);*/
      color: $base-color;
      &:after {
        text-indent: 0;
        font-family: 'Linearicons-Free';
        content: "\E86B";
        position: absolute;
        top: $default-atom-space/2;
        left: $default-atom-space;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      &:hover{
        background-color: $gray-color-light;
      }

    }
    .userlogin a:after {
      content: "\e81f";
    }
    .userlogout a:after {
      content: "\e820";
    }
    .userregister a:after {
      content: "\e82a";
    }
    .userpage a:after {
      content: "\e82a";
    }

  }
}

