/**
 * Main Navigation (ultimenu).
 *
 * This file contains all Ultimenu layout and very basic styling.
 *
 * Classes:
 * .ultimenu: the menu UL tag.
 * .ultimenu > li: the menu LI tag.
 * .ultimenu__flyout: the ultimenu region container aka flyout.
 * .ultimenu__link: the menu-link A tag.
 */

/**
 * Basic resets.
 */
.user-logged-in .button.button--ultimenu {
  top: 140px;
}

/*
 * Mobile Menu button
 */
.button.button--ultimenu {
  border: none;
  right: $default-atom-space;;
  top: 100px;
  background: none;
  height: 32px;
  width: 32px;
  &:after {
    font-family: Linearicons;
    content: "\e92b";
    position: absolute;
    font-weight: normal;
    line-height: 1em;
    top: 0;
    left: 0;
    @include adjust-font-size-to(1);
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 4px;
    color: $base-color;
    @include border-radius($default-atom-space/4);
    border: 1px solid $gray-color-light;
  }
  .bars {
    box-shadow: none;
    right: 0;
    top: 0;
  }
  &.js-ultimenu-button-active {
    background: none;
    border: none;
    &:after {
      color: $base-color;
    }
  }
}

.button.button--ultimenu:hover,
.button.button--ultimenu:active,
.button.button--ultimenu:focus {
  outline: none;
  background: none;
  border: none;
}

.button.button--ultimenu:hover {
  background: $gray-color-light;
  color: $third-color;
}


/*
 * Basic Ultimenu style
 */

#block-mainnavigation-ultimenu {
  position: static;
  z-index: 900;
  width: 100%;

  > ul#ultimenu-main {
    float: right;
    position: static;
    min-height: $default-atom-space*4;
    > li {
      position: static;
      padding: 0;
      > a {
        text-transform: uppercase;
        @include breakpoint($tab) {
          font-weight: bold;
        }
        &.is-active {
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }

  .ultimenu__link {
  }

  .ultimenu__flyout {
    width: 100% !important;
    background-color: #fff;
    @include border-radius(0);
    padding: 0;
    .constrained {
      @include pie-clearfix;
    }
    h2 {
      color: $base-color;
      font-style: italic;
      @include adjust-font-size-to(2);
      border-bottom: 1px solid $base-color;
      padding-bottom: $default-atom-space/2;
      margin-bottom: $default-atom-space/2;
    }
  }

  /* TODO: Fix Ultimenu breakpoints and mobile menu limit */
  @media all and (min-width: $tab) {
    .ultimenu__flyout {
      /*    @include transition-property(visibility opacity margin);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease);*/
      -moz-transform: translateY(-32px);
      -ms-transform: translateY(-32px);
      -o-transform: translateY(-32px);
      -webkit-transform: translateY(-32px);
      transform: translateY(-32px);

      -moz-transition: transform 0.3s ease, visibility 0s linear, opacity 0.3s linear, margin 0.3s ease;
      -ms-transition: transform 0.3s ease, visibility 0s linear, opacity 0.3s linear, margin 0.3s ease;
      -o-transition: transform 0.3s ease, visibility 0s linear, opacity 0.3s linear, margin 0.3s ease;
      -webkit-transition: transform 0.3s ease, visibility 0s linear, opacity .5s linear, margin 0.3s ease;
      transition: transform 0.3s ease, visibility 0s linear, opacity 0.3s linear, margin 0.3s ease;
    }

    .ultimenu li.hover > .ultimenu__flyout,
    .ultimenu li:hover > .ultimenu__flyout {
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      display: block;
      margin-top: 0;
      opacity: 1;
      transition-delay: 0s;
      visibility: visible;
      @include translateY(0);
    }

  }
  /**
   * Company Ultimenu
   */
  #block-quality-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 1);
    }
  }
  #block-responsibility-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 4);
    }
  }
  #block-company-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 7);
    }
  }
  #block-subsidiaries-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 10);
    }
  }
  /**
   * Products Ultimenu
   */
  #block-elevators-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 1);
    }
  }
  #block-cabins-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 4);
    }
  }
  #block-products-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 7);
    }
  }
  #block-modernization-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 10);
    }
  }

  /**
   * Investors Ultimenu
   */
  #block-twentyfourseven-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 1);
    }
  }
  #block-supportcrew-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 4);
    }
  }
  #block-supportfiles-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 7);
    }
  }
  #block-support-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 10);
    }
  }

  /**
   * Investors Ultimenu
   */
  #block-stock-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 4);
    }
  }
  #block-invest-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 1);
    }
  }
  #block-monetary-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 7);
    }
  }
  #block-investors-ultimenu {
    @include grid-span(12, 1);
    @include breakpoint($tab) {
      @include grid-span(3, 10);
    }
  }
}


/**
 * Smaller medium resets.
 */
@media all and (max-width: 58.999em) {
  .ultimenu--main {
    background: $white;
    margin-bottom: $default-atom-space*2;
    @include breakpoint($tab) {
      margin-bottom: 0;
    }
  }

  // The lis.
  .ultimenu--main .ultimenu__item {
    // code
  }

  /* Mobile needs a handler for click event. */
  .ultimenu--main .ultimenu__link {
    padding: $default-atom-space/2 $default-atom-space*2;
    min-height: 10px;
    color: $base-color;
    line-height: $base-line-height;
    border-bottom: 1px solid $gray-color-light;
  }

  .ultimenu--main .ultimenu__link:hover,
  .ultimenu--main .ultimenu__link:active {
    background: $base-color;
    color: $white;
  }

  .ultimenu--main .ultimenu__link.is-active {
    background: $gray-color-light;
    color: $third-color;
  }

  .has-ultimenu .caret {
    @include transition-property(all);
    @include transition-duration(0.333s);
    @include transition-timing-function(ease-in);
    background: none;
    min-height: 0;
    width: 32px;
    height: 32px;
    right: 0;
  }

  .has-ultimenu.js-ultimenu-item-expanded .caret {
    @include transform(rotate(180deg));
  }

  .has-ultimenu .caret:before {
    border: none;
    font-family: Linearicons;
    content: "\e93a";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    line-height: 1em;
    margin: 0;
    padding: $default-atom-space;
  }
  .has-ultimenu .js-ultimenu-active .caret:before {
    border: none;
  }
}

/**
 * Larger medium resets ~ 944px
 */
@media all and (min-width: 59em) {
  .ultimenu--main .ultimenu__link {
    padding: $default-atom-space*3;
  }
}