/**
 * Debug Media queries
 */

.debug-media-query {
  margin: 0;
  padding: 0;
  li {
    display: block;
    border: 1px solid #666;
    max-width: 160px;
    margin: 0 0 0.5em;
    padding: 0.5em;
    font-weight: bold;
    text-align: center;
    @include adjust-font-size-to(-1);
  }

  .phone {
    background-color: $base-color;
  }

  @include breakpoint($tab) {
    .tab {
      background-color: $base-color;
    }
  }

  @include breakpoint($desk) {
    .desk {
      background-color: $base-color;
    }
  }

  @include breakpoint($phone-p) {
    .phone-portrait {
      background-color: $base-color;
    }
  }

  @include breakpoint($phone-l) {
    .phone-landscape {
      background-color: $base-color;
    }
  }

  @include breakpoint($tab-p) {
    .tab-portrait {
      background-color: $base-color;
    }
  }

  @include breakpoint($tab-l) {
    .tab-landscape {
      background-color: $base-color;
    }
  }
}
